body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  
  background: linear-gradient(90deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
  
  min-height: 100vh;
}
  
.page{
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}
 
/*NAV*/

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* margin-bottom: 15px; */
}
  
ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  gap: 48px;
}
  
ul li a{
  opacity: 0.5;
  color: #1f1534;
  text-decoration: none;
  
}
  
ul li a:hover{
  font-weight: bold;
  opacity: 1;
}

/*MAIN*/

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*SECTION*/

h1,ul{
  font-family: "Mulish", sans-serif;
}
  
h1{
  font-size: 49px;
  line-height: 56px;
  color: #000;
  
  font-weight: normal;
  
  width: 489px;
}
  
h1 span{
  color: #89c5cc;
  font-weight: bold;
}
  
section p{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;
}
  
button{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
    
  background-color: #69B99D;
  border: 0;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 14px 32px 15px;

  cursor: pointer;
}
  
button:hover{
  background: #4EA788;
}
  
footer{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
  
footer a{
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
  
#balls{
  position: fixed;
  bottom: 0;
  right: 0;}
  